.DS_Store
Thumbs.db

*.env
*.local
*.log

/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/
/frontend/.angular/cli.json

/backend/venv/
/backend/.pytest_cache/
/backend/__pycache__/
/backend/*.pyc
/backend/*.pyo
/backend/*.pyd
/backend/instance/
/backend/.env

*.db
*.sqlite3
*.mongodb

/frontend/package-lock.json
/frontend/yarn.lock

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

/frontend/dist/