.container-instagram {
    position: relative;
    top: 100px;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    animation: init 0.5s linear;
    gap: 20px;
    padding: 20px 0px;
}

.container-instagram .section-users {
    width: auto;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

.container-instagram .section-users ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.container-instagram .section-users ul li {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-instagram .section-users ul li button{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background-color: transparent;
    border: none;
    gap: 2px;
}

.container-instagram .section-users ul li button img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.container-instagram .section-users ul li button p {
    transition: 0.5s;
}

.container-instagram .section-users ul li button:hover img {
    width: 85px;
    height: 85px;
}

.container-instagram .section-users ul li button:hover p {
    font-size: 1.2em;
}

.container-instagram .section-profile {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-instagram .section-profile img {
    height: 100%;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.container-instagram .section-profile .profile-info {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    max-width: 400px;
    gap: 5px;
}

.container-instagram .section-profile .profile-info div h1 {
    font-weight: bold;
    font-style: normal;
}

.container-instagram .section-profile .profile-info div p {
    font-weight: 600;
    font-style: normal;
}

.container-instagram .section-profile .profile-info ul {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-instagram .section-profile .profile-info ul li {
    width: auto;
    height: auto;
}

.container-instagram .section-profile .profile-info ul li p span {
    font-weight: 600;
}

.container-instagram .section-similar {
    background-color: yellow;
    width: auto;
    height: auto;
}

.container-instagram nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #1A1A1A;
}

.container-instagram nav ul {
    width: auto;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.container-instagram nav ul li  {
    width: auto;
    height: auto;
}

.container-instagram nav ul li button {
    padding: 8px 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: 0.2s;
}

.container-instagram nav ul li button:hover {
    border-bottom: 2px solid #CECECE;
    padding-bottom: 15px;
}

.container-instagram .section-posts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.container-instagram .button-pages {
    margin: 0px auto;
    width: auto;
    height: auto;
    gap: 3px;
    display: flex;
    padding: 20px 0px;
}

.container-instagram .button-pages button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #282828;
    display: flex;
    align-items: center;
    gap: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 20px;
    box-sizing: border-box;
    justify-content: center;
}

.container-instagram .button-pages .selected-button {
    background-color: black;
    color: white;
}

.container-instagram .button-pages .button-next-prev {
    width: 80px;
}

@keyframes init {
    0% {
    top: 300px;
    }
  
    100% {
      top: 100px;
    }
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.animate-profile {
    animation: fadeIn 0.5s ease-in-out;
  }

.line {
    border-bottom: 1px solid #282828;
}

.padding {
    padding: 0px 20px;
}

.not-show {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 50px;
    background-color: #DE00AE;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
}

.not-show h3 {
    padding: 0px 20px;
    color: white;
}